<% content_for :mid do %>
	<div class="middle">
	<%if @user == current_user %>
		<h2>My Events</h2>
	<% else %> 	
		<h2><%= @user.name %>'s Events</h2>
	<% end %>
			<% @event.each do |f| %>
				<p> <%= link_to "#{f.name}", event_path(f) %> : <%= f.event_date %> </p>
				<p> <%= f.description %> </p>
			<% end %>
	</div>

<% end %>